name: github-pages
on:
  push:
    branches:
      - main
jobs:
  main:
    permissions:
      pages: write
      id-token: write
    environment: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Install CJK fonts
        run: sudo apt-get install -y fonts-noto-cjk
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
          cache: npm
      - name: Build
        run: |
          npm ci
          npm run build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: pages
      - uses: actions/deploy-pages@v4
